
@font-face {
    font-family: 'font1';
    src: url('../assets/fonts/font1.woff2');
}
@font-face {
    font-family: 'font2';
    src: url('../assets/fonts/font2.woff2');
}
@font-face {
    font-family: 'font3';
    src: url('../assets/fonts/font3.woff2');
}
@font-face {
    font-family: 'font4';
    src: url('../assets/fonts/font4.woff2');
}
@font-face {
    font-family: 'font5';
    src: url('../assets/fonts/font5.woff2');
}
@font-face {
    font-family: 'font6';
    src: url('../assets/fonts/font6.woff2');
}
@font-face {
    font-family: 'font7';
    src: url('../assets/fonts/font7.woff2');
}
@font-face {
    font-family: 'font8';
    src: url('../assets/fonts/font8.woff2');
}
@font-face {
    font-family: 'font9';
    src: url('../assets/fonts/font9.woff2');
}




*{
    box-sizing: border-box;
    margin: 0px;
}